@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
$transparent-white: rgba(250,250,250,0.4);
* {
	font-family: 'Anonymous Pro', monospace;
}

@font-face {
    font-family: 'Special Elite';
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x:hidden;
    position: relative;
    font-family: 'Special Elite';
}

canvas {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
}


#text-boxwrapper{
	width:60vw;
	height:80vh;
}
#text-box{
	width:60vw;
	height:80vh;
	font-family: 'Special Elite';
	font-size: 3em;
}
#cursor-input {
		width: 1px;
		height: 1px;
		border: none;
		padding: 0;
		margin: -10px;
		overflow: hidden;
		position: relative;
		margin-left: -1px;
}
#note-pad {
	 position: absolute;
  z-index: 9;
  height:80vh;
  border: 1px solid #d3d3d3;
  text-align: center;
}
#note-pad-header{
	height:50px;
	background-color: brown;
}

#welcome {
	position: relative;
	z-index:9;
  top: 50%;
  transform: translateY(-50%);
	opacity:.5;
	text-align:center;
	font-size:2em;
	animation: fadeout 3s linear 3s forwards;
}

@keyframes fadeout {
    100% {opacity:0;visibility:hidden;}
}