@font-face {
    font-family: 'Special Elite';
    src: url('http://www.typewritesomething.com/inc/specialelite-webfont.eot');
    src: url('http://www.typewritesomething.com/inc/specialelite-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.typewritesomething.com/inc/specialelite-webfont.woff2') format('woff2'),
         url('http://www.typewritesomething.com/inc/specialelite-webfont.woff') format('woff'),
         url('http://www.typewritesomething.com/inc/specialelite-webfont.ttf') format('truetype'),
         url('http://www.typewritesomething.com/inc/specialelite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x:hidden;
    position: relative;
    font-family: 'Special Elite';
}

canvas {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
}

#cursor-input {
		width: 1px;
		height: 1px;
		border: none;
		padding: 0;
		margin: -10px;
		overflow: hidden;
		position: relative;
		margin-left: -1px;
}

#welcome {
	position: relative;
	z-index:9;
  top: 50%;
  transform: translateY(-50%);
	opacity:.5;
	text-align:center;
	font-size:2em;
	animation: fadeout 3s linear 3s forwards;
}

@keyframes fadeout {
    100% {opacity:0;visibility:hidden;}
}